*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.App {
  /* text-align: center; */
  background-color: #0d0620;
  height: 100vh;
}
.custom-nav{
  background-color: #0d0620;
  color: white;
}


.upgrade-button{
  background-color: #29d4b6
}
.header-list{
  color: darkgrey;
  font-weight: 500;
}
.header-list-active{
  font-weight: 500;

}
img, svg {
  vertical-align: middle;
  /* background: #282c34; */
}

.custom-carousel-item{
  width: 50% !important;
}
.slick-prev{
  z-index: 99999999 !important;
  left: 10px !important;
}
.slick-next{
  z-index: 99999 !important;
  right: 10px !important;
}
.slick-dots{
  color: #ffffff !important;
}
.slick-dots li button:before {
  color: #ffffff !important;
  height: 10px;
  width: 10px;
}
.slick-dots li.slick-active button:before {
  color: #ffffff !important;
}

.slick-prev:before,
.slick-next:before {
  color: #ffffff !important;
}

.slider-image{
  height: 400px;
}
.slick-slide{
padding:0px 10px;
max-width: 600px;
} 
.slider-image-container{
  border-radius: 10px;
  overflow: hidden;
}
.slick-active{
  /* border: 1px solid; */

}
.navbar {
  /* position: relative; */
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; */
  padding-top: 0;
  padding-bottom: 0;
  
}



/* .Header_left {
  display: flex;
  align-items: center;
}

.Header_left > .MuiSvg-root {
  color: white !important;
  cursor: pointer;
}

.Header_left > .Header_logo {
  margin-left: 10px !important;
}

.Header_left > p {
  margin-left: 20px;
  color: #cfd0d3;
  font-size: 16px;
  font-weight: 400px;
}
.Header__right {
  display: flex;
  align-items: center;
}
.header_list {
  padding: 15px 10px;
}

.search {
    background-color: #222222;
    outline: unset;
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid white;
}
.search:focus{
  width: 400px;
  background-color: #222222;
  outline: unset;
  border: unset;
  border-radius: unset;
  border-bottom: 1px solid white;
  color: white;
}
.search::placeholder{
  color: white;
  background: transparent;
} */

